<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ExpressEJS</title>
    </head>
    <body>
        <h1>Index</h1>

        <form action="/choose" method="POST">
            <input type="number" name="pin" placeholder="pinkode">
            <button type="submit">Continue</button>
        </form>

    </body>
</html>