<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
    </head>
    <body style="background-color: black;">

        <img src="/images/pinkodeAktiv_4.png" style="width: 100%;">

        <form action="/choose" method="POST" >
            <input type="number" name="pin" placeholder="pinkode" style="height: 40px; width: 50%; font-size: 26pt;">
            <button type="submit" style="height: 50px">Continue</button>
        </form>

    </body>
</html>