<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ExpressEJS</title>
    </head>
    <body onload="play()">
        <h1>Mobileplay</h1>
        
        <video id="vid" controls preload="auto" width="100%">
            <source src="http://188.166.39.138/mobilevideo" type="video/mp4">
        
            Sorry, your browser doesn't support embedded videos.
        </video>
        
        <script>
            function play(start) {
		var currentTime = parseFloat(new Date() / 1000);
                var start = parseFloat(<%= data.startTime %> - 0.75);
                
                if (currentTime - start > 0) {
                    document.getElementById("vid").play();
                } else {
                    setTimeout(play, 10);
                }
            }
        </script>
    </body>
</html>
