<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pc</title>
    </head>
    <body style="background-color: black;">
        
        <img src="/images/pinkodeAktiv_9.png" style="width: 100%;">

        <p style="color: white; font-family: Helvetica, sans-serif; font-size: 24pt; font-weight: 100; text-indent: 20px;">Din pinkode: <%= data.pin %> </p>
        
        <form method="post" action="/choose/<%=data.pin%>/pc/play">
            <button type="submit">Play</button>
        </form>

    </body>
</html>